.one{
    text-align: center; color: teal;
    font-size: 50px; text-shadow: -1px 1px 2px rgba(0,0,0,0.7),
       	              -5px 5px 1px orange,
       	              -6px 6px 2px rgba(0,0,0,0.7),
       	              -10px 10px 1px red,
       	              -11px 11px 2px rgba(0,0,0,0.7),
       	              -15px 15px 1px purple,
       	              -16px 16px 2px rgba(0,0,0,0.7);
}
#one{
    font-size: 40px; color:green; text-decoration: line-through yellow; 
}
.two{
    color: tomato; font-size: 20px;
}
.four{
    color: rgb(104, 128, 128);
}
#five{
    color: purple;
}
#six{
    color: orange;
}
